.product-list {
header { grid-area: header; }
.categories { grid-area: categories; }
.product-card-section { grid-area: productList;}

font-family: 'Ubuntu', sans-serif;
display: grid;
grid-template-areas: 
'header header'
'categories productList';
gap: 0.5em;

  button {
    @include button-style;
  }

  .product-card-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
  }
}
