@import '../../styles/variables';

.categories {
  h2 {
    color: $subtitle;
    padding-left: 1.5em;
  }

  ul {
    padding-left: 1.5em;
    max-width: 13.8em;
    
    li {
      border-radius: 0.5em;
      list-style: none;
      transition: 0.5s;
      padding: 10px;
      margin-bottom: 0.5em;
  
      &:hover {
        background-color: $list-item-selected;
        cursor: pointer;
      }
    }
    
    input[type="radio"] { 
      display: none;
    }

    input[type=radio]:checked + li {
      background-color: $list-item-selected;
    }
  } 
}
