$primary-text-color: #000501;
$secondary-text-color: #ffffff;
$subtitle: #646464;
$list-item-selected: #dadada;
$input-color: #d6d6d6;
$input-focus: #83a9f7;
$button-color: #2b78ca;
$highlight-color: #1d5087;
$header-background: #fdcd49; 
$product-title: #555555;
$box-shadow-color: #e2e2e2;
$product-sub-price: #088308;
$danger-color: #d90824;
$danger-color-highlight: #b1061d;

@mixin button-style {
  background-color: $button-color;
  border: none;
  border-radius: 0.5em;
  color: $secondary-text-color;
  cursor: pointer;
  font-weight: bold;
  margin: 0.5em;
  transition: 0.5s;
  padding: 1em;
  width: 12rem;

  &:hover {
    background-color: $highlight-color;
  }
}

@mixin text-input {
    border-radius: 0.5em;
    border: 3px solid $input-color;
    margin: 0.5em;
    outline: none;
    padding: 1em;
    transition: 0.5s;
    width: 30%;

    &:focus { border: 3px solid $input-focus }
}