$primary-text-color: #000;
$secondary-text-color: #ffffff;
$highlight-color: #2d3edf;
$subtitle: #646464;
$list-item-selected: #dadada;
$input-color: #d6d6d6;
$input-focus: #83a9f7;
$button-color: #5969f8;

$header-background: rgb(248, 248, 98); 
$product-title: rgb(85, 85, 85);
$box-shadow-color: rgb(226, 226, 226);
$product-sub-price: rgb(8, 131, 8);

@mixin button-style {
  background-color: $button-color;
  border: none;
  border-radius: 0.5em;
  color: $secondary-text-color;
  cursor: pointer;
  font-weight: bold;
  margin: 0.5em;
  transition: 0.5s;
  padding: 1em;
  width: 12rem;

  &:hover {
    background-color: $highlight-color;
  }
}

@mixin text-input {
    border-radius: 0.5em;
    border: 3px solid $input-color;
    margin: 0.5em;
    outline: none;
    padding: 1em;
    transition: 0.5s;
    width: 30%;

    &:focus { border: 3px solid $input-focus }
}