.product-card {
  border-radius: 10px;
  box-shadow: 1px 1px 7px $box-shadow-color;
  max-width: 250px;
  padding: 15px;
  margin: 10px;

  h2 {
    text-align: center;
  }
 
  img {
    display: block;
    margin: auto;
    width: 100px;
  }

  a {
    color: $primary-text-color;
    text-decoration: none;
  }

  p:nth-child(1) {
    font-weight: lighter;
  }

  p:nth-child(3) {
    color: $product-title;
    font-size: 20px;
    margin-bottom: 0px;
  }

  span {
    color: $product-sub-price;
    font-size: 15px;
  }

  button {
    margin: 1.5em 2.3em !important;
  }
}
