.checkout-main-container {

  .checkout-form {
    margin: 1em;
  
    legend {
      color: $subtitle;
      margin: 1em;
      padding: 1em;
    }
  
    .checkout-customer-info {
  
      input,
      select {
        border-radius: 0.5em;
        border: 3px solid $input-color;
        margin: 0.5em;
        outline: none;
        padding: 1em;
        transition: 0.5s;
        width: 20%;
    
        &:focus { border: 3px solid $input-focus }
      }
  
      input[type=number],
      input[type=tel] {
        width: 10%;
      }
    }
  
    
    .checkout-paying-methods {
      display: flex;
  
      label {
        display: flex;
        align-items: center;
        padding: 1em;
        margin: 1em;
      }
      
      input {
        margin: 1em !important;
      }
  
      p {
        display: inline;
      }
    }
  
  }

  button {
    @include button-style;
    margin-left: 1.5em !important;
    margin-bottom: 3em;
  }
}