header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-background;
  box-shadow: 1px 1px 1px $box-shadow-color;
  padding: 1em 0;

  img {
    display: inline;
    width: 200px;
  }

  a {
    text-decoration: none;
    padding: 1em;
    margin: 0 2em;

    img {
      width: 2.5em;
    }

    span {
      background-color: $highlight-color;
      border-radius: 50%;
      color: $secondary-text-color;
      padding: 0.3em;
      position: relative;
      bottom: 1.8em;
      right: 0.5em;
      display: inline-block;
      width: 1em;
      height: 1em;
      text-align: center;
    }
  }

  .header-search-container {
    flex-grow: 2;
    input[type=text] {
      @include text-input;
    }

    button {
      @include button-style
    }
  }

  & img:first-child {
    margin-left: 3em;
  }

}